<h1>Berko Album Club</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Host</th>
      <th>Played on</th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist %></td>
        <td><%= album.host %></td>
        <td><%= format_date album.played_on, :shortmonth %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
