.media-block
  display: inline-block
  vertical-align: top
  width: 435px
  height: 174px
  margin-bottom: 10px

  .media-block__host
    color: $white

.media-block__image
  float: left
  width: 174px
  height: 174px

  &.is-notfound
    opacity: 0.2

.media-block__body
  margin-left: 174px
  padding: 0 10px
