.title
  margin: 0
  color: $orange-1

.artist,
.host
  margin: 0

.artist
  font: 800 .9rem/1 'Coda', sans-serif
  color: $orange-2

.host
  position: absolute
  left: 8px
  width: 64px
  color: $white
  text-align: right
  font-size: .8rem

  strong
    font-size: 3em

time
  display: block

[type=checkbox]
  position: absolute
  top: -2px
  left: 77px
  width: 150px
  height: 150px
  opacity: 0
  z-index: 3

figure
  position: relative
  width: 150px
  height: 150px

.albums
  display: flex
  flex-wrap: wrap

.album
  flex: 1 240px
  margin-top: 3em
  padding: 0 8px 0 88px
  position: relative

.album img
  z-index: 2
  position: absolute

.album img,
.album figure::after
  height: 150px
  width: 150px
  transition: all 0.2s

.album img[src^=data],
.album figure::after
  border-radius: 50%
  content: " "
  display: block
  background-color: #000
  background-image: radial-gradient(rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 1%, rgba(206, 70, 38, 1) 2%, rgba(206, 70, 38, 1) 23%, rgba(206, 70, 38, 0.5) 24%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.1) 41%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0.1) 54%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.1) 61%, rgba(255, 255, 255, 0) 62%, rgba(255, 255, 255, 0.1) 63%, rgba(255, 255, 255, 0) 64%, rgba(255, 255, 255, 0.1) 65%, rgba(255, 255, 255, 0) 66%), linear-gradient(45deg, #000 0%, #000 30%, rgba(47, 47, 47, 1) 50%, #000 70%, #000 100%)

.album img:not([src^=http]) +

.info
  margin: 1rem 0

figure::after
  position: relative
  z-index: 1

.loading
  -webkit-animation: playing 3s linear 0s infinite
  -moz-animation: playing 3s linear 0s infinite
  -o-animation: playing 3s linear 0s infinite
  animation: playing 3s linear 0s infinite

table
  opacity: 0
  width: 100%
  transform: scale(.8) translateY(-20%)
  transition: all .3s

  td:first-child
    padding-right: .5em

.tracks
  height: 0

\:checked ~
  figure
    img
      -webkit-transform: rotate(-1deg) scale(1.05)
      transform: rotate(-1deg) scale(1.05) translateY(-3px)
      box-shadow: 1px 3px 3px #000
    &::after
      -webkit-transform: translateX(90px) rotate(90deg) scale(0.95)
      transform: translateX(90px) rotate(90deg) scale(0.95)
  .tracks
    height: auto
    table
      opacity: 1
      transform: scale(1) translateY(0)
      background: transparent
      border-collapse: collapse
      width: 100%
      tr + tr td
        border-top: 1px solid rgba($white, .3)
      td
        vertical-align: top
        &:nth-child(3)
          text-align: right

@-webkit-keyframes playing
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)


@-moz-keyframes playing
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)


@-o-keyframes playing
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)


@keyframes playing
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)
