.title
  margin: 0
  color: $orange-1

.artist,
.host
  margin: 0

.artist
  font: .9rem/1 'Coda Caption', sans-serif
  color: $orange-2

.host
  margin: 1em 0
  color: $green-2
  font-size: .8rem

.album img
  width: 100%
  max-width: 100%
  vertical-align: bottom

.albums

  .album
    figure
      background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%)
      height: 150px
      width: 150px

    .info
