/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
  font: 1em/1.5 sans-serif;
}

#wrapper { margin:0 auto; width:50%; }
.albums-index { color:#eee; background:#222; margin:0; }
.albums-index #wrapper { width:auto; }
table { width:100%; }
a {
  color: #db9e36;
}
a:hover {
  color: #ffd34e;
}
#user_nav {
  float: right;
}