html
  font: 1em/1.5 sans-serif
  color: $white
  background: $grey-1
  margin: 0

a
  color: $green-2

  &:hover
    color: $grey-1
    background: $green-2
    text-decoration: none

h1
  font: 800 1.5rem/1 Coda, sans-serif
  color: $white
  margin-top: 0

figure
  margin: 0
